body {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #32425c;
  background-color: #c5c5c5;
  background-position: top center;
}

a {
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}


                                                    /*buttons*/
.button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-user {
  font-family: inherit;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}
.button-user:hover {
  color: #ee3643;
}
.button-user:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-catalog {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.button-catalog:hover {
  border-color: #bdc6ca;
}

.button-catalog:active {
  border-color: #ee3643;
}

.button-buy {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
}

.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmarks {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  background-color: #ffffff;
  border: solid 3px #63a63e;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 7px;
}

.button-bookmarks:hover {
  border-color: #32425c;
}

.button-bookmarks:active {
  opacity: 0.3;
}

.button-offers-list {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.button-offers-list:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-offers-list:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button-current {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
                                                      /*index-header*/
.header {
  font-size: 14px;
  line-height: 24px;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.user-menu {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
  width: 220px;
  text-align: center;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search-input {
  width: 270px;
}

.user-menu input {
  background-color: inherit;
  border: none;
}

.user-actions {
  display: flex;
  padding: 0;
}

.user-actions li {
  width: 150px;
  text-align: center;
}

.user-search input:hover,
.user-actions a:hover
{
  background-color: #212a3a;
}

.user-search input:focus {
  background-color: #ffffff;
  color: #000000;
}

.user-actions a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.complete {
  background-color: #63a63e;
}

a.complete:hover {
  background-color: #5fbb2d;
}

a.complete:active {
  background-color: #518534;
}

.user-menu ul {
  list-style: none;
}

.user-menu a {
  color: #ffffff;
}

.header-main {
  display: flex;
  justify-content: flex-end;
  margin-top: 47px;
  margin-bottom: 40px;
}

.header-main>p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  width: 200px;
}

.phone {
  width: 270px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.phone a,
.phone span
{
  text-align: center;
}

.phone a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: solid 3px #ffffff;
}

.user-logout {
  display: flex;
  margin-left: 60px;
}

.user-logout p {
  margin-left: 10px;
}

.nav,
.nav a
 {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.nav {
  border-bottom: solid 4px #293449;
  width: 940px;
  margin: 0 auto;
  padding: 0;

}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-list li {
  flex-grow: 1;
}

.nav div {
  height: 60px;
  text-align: center;
  padding-top: 22px;
}

.nav a:hover div {
  background-color: #293449;
}

.nav a:active div{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
                                                       /*index-main*/
.main {
  background-color: #ffffff;
}

.main h1 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  margin: 0;
}

.main h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
  margin: 0;
}





.offers-list {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  list-style: none;
  margin: 0;
}

.offers-list li:first-child {
  background-color: #ffbf47;
}

.offers-list li:nth-child(2) {
  background-color: #3bbce3;
}

.offers-list li:nth-child(3) {
  background-color: #dc91d8;
}

.offers-list li:nth-child(5) {
  background-color: #8ed78f;
}

.offers-list li:last-child {
  background-color: #ffc047;
}

.main-slider h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-slider span {
  font-size: 18px;
  line-height: 24px;
}

.products ul {
  list-style: none;
}

.producers ul {
  list-style: none;
}

.producers-list a {
  border: solid 1px #eaeaea;
}

.producers-list a:hover {

}

.producers-list a:active {
  opacity: 0.3;
}

.service {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #f4f7f9;
}

.service h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.service ul {
  list-style: none;
}

.service li {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.service li:hover {
  color: #32425c;
  background-color: #ffffff;
}

.service h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.delivery {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
  padding-top: 82px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.delivery .delivery-ways {
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 455px;
}

.delivery .contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 455px;
}

.delivery-ways ul {
  margin: 0;
  margin-bottom: auto;
}

.contacts p {
  width: 180px;
}

.contacts img {
  margin-bottom: 40px;
}

.delivery h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

.delivery p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
}

.delivery a:last-of-type {
  margin-top: auto;
  margin-bottom: 86px;

}

                                                   /*index-footer*/
.footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer ul {
  list-style: none;
}

.footer a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer .logo {
  height: 48px;
  padding-top: 20px;
}

.foot-top {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.foot-top-list {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-bottom: 10px;
}

.foot-top-list li {
  margin-left: 60px;
}

.foot-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.foot-middle p {
  margin: 0;
  width: 325px;
}

.foot-middle ul {
  margin: 0;
  padding: 0;
}

.second-line {
  display: flex;
}

.second-line li:not(:first-child) {
  margin-left: 60px;
}

.second-line a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-bottom .container {
  padding-top: 35px;
  padding-bottom: 30px;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom p:first-of-type {
  width: 230px;
  margin-right: 160px;
}

.footer-bottom p:nth-of-type(2) {
  width: 135px;
  margin-right: 50px;
}

.footer-bottom p:last-of-type {
  width: 100px;
}

.footer-bottom ul {
  padding: 0;
  margin: 0;
}

.footer-bottom a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-bottom a:active {
  color: #ee3643;
  opacity: 1;
}

ul.social {
  display: flex;
  margin-right: 120px;
}

.social li {
  margin-right: 3px;
}

                                              /*Catalog*/

.cart-full {
  background-color: #ee3643;
}

.user-login {
  width: 300px;
  margin-left: 50px;
}

.user-name {
  text-align: center;
}

.login-list {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-list li:first-child{
  list-style: none;
}

.login-list li {
  margin: 8px 16px;
}

.login-list a {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.login-list a:hover {
  color: #ee3643;
}

.login-list a:active {
  color: rgba(50, 66, 92, 0.3);
}
                                              /*catalog-main*/
.bread-crumbs,
.bread-crumbs a
 {
  font-family:  'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

}

.bread-crumbs {
  padding-top: 25px;
  padding-bottom: 25px;
}

.bread-crumbs li{
  margin-right: 40px;
}

.bread-crumbs li:first-child {
  list-style: none;
}

.catalog-filter {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000000;
}

.catalog-filter fieldset {
  border: none;
}

fieldset.range-bar legend {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f7f3ec;
}

.range-bar h3 {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.output input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f7f3ec;
  border: none;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 980px;
}

.catalog h1 {
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
}

.catalog-filter {
  width: 220px;
}

.catalog-filter fieldset {
  padding: 0;
}

.catalog-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

.catalog-filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter label:active {
  opacity: 0.4;
}

.catalog-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter button:last-of-type {
  margin-top: 75px;
}

.catalog-list-view {
  width: 700px;
}

.sort-panel {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sort-panel h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sort-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.sort-panel a {
  color: #000000;
  opacity: 0.3;
  border-bottom: dotted 1px #ee3643;
}

.sort-panel a:hover {
  opacity: 1;
  border-bottom: solid 1px #ee3643;
}

.sort-panel a:active {
  color: #ee3643;
  opacity: 1;
  border: none;
}

.catalog-list {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list li {
  border: solid 1px #e5e5e5;
  width: 220px;
  min-height: 320px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.catalog-list img {
  order: -1;
  margin-bottom: 12px;
}

.catalog-list h3 {
  margin: 0;
  width: 155px;
  text-align: center;
  margin-bottom: 15px;
}

.catalog-list a {

}

.catalog-list span {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  margin-top: 15px;
}

.catalog-list span:last-of-type {
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
  height: 38px;
  margin-top: auto;
  margin-bottom: 20px;
  padding-top: 10px;
}

ul.catalog-list span.uppercase {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.pagination {
  list-style: none;
}

.about {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #f4f7f9;
}

.about h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}

span.label-new {
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
}

.invisible {
  display: none;
}
