body {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #32425c;
  background-color: #c5c5c5;
  background-position: top center;
}

a {
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-column {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 60px;
}


                                                    /*buttons*/
.button {
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-user {
  font-family: inherit;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 45px;
  display: inline-block;
  min-height: 45px;
  padding: 0;
}
.button-user:hover {
  color: #ee3643;
}
.button-user:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-login .button-user:hover {
  color: #000000;
}

.button-user svg {
  position: relative;
  top: 2px;
}

.user-login span {
  margin-right: 30px;
}

.button-user span {
  margin-left: 8px;
}

.user-login .button-user {
  width: 100%;
}

.button-user-enter {
  padding-left: 13px;
}

.button-user-enter:hover path,
.button-user-enter:hover polygon {
  fill: #32425C;
}

.button-user-reg {
  padding-left: 23px;
}

.button-catalog {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  padding-top: 8px;
  border-radius: 3px;
}

.next {
  width: 140px;
}

.button-catalog:hover {
  border-color: #bdc6ca;
}

.button-catalog:active {
  border-color: #ee3643;
}

.button-buy {
  position: relative;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  box-shadow: inset 0px -3px 0 0 #367315;
  border-radius: 3px;
}

.button-buy::before {
  content: url(../img/cart.png);
  position: absolute;
  left: 13px;
  top: 11px;
  opacity: 0.3;
}

.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:hover::before {
  opacity: 1;
}

.button-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button-bookmarks {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #ffffff;
  border: solid 3px #63a63e;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 7px;
  border-radius: 3px;
}

.button-bookmarks:hover {
  border-color: #32425c;
}

.catalog-img .button-bookmarks:active {
  opacity: 0.3;
}

.button-offers-list {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  width: 135px;
  height: 38px;
  text-align: center;
  border-radius: 3px;
}

.button-offers-list:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-offers-list:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button-offers-list:focus {
  outline-color: #ffffff;
}

.button-catalog-current {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  text-align: center;
  padding-top: 9px;
  border-radius: 3px;
}
                                                      /*index-header*/
.header-index,
.header-catalog {
  font-size: 14px;
  line-height: 24px;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.user-menu {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;

}

.user-menu-line {
  display: flex;
  align-items: stretch;
  min-height: 42px;
  position: relative;
  padding-left: 220px;
}

.logo {
  background-color: #ee3643;
  width: 220px;
  height: 47px;
  text-align: center;
  padding-top: 13px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.user-search label,
.search-input {
  display: block;
  height: 100%;
  position: relative;
}

.search-input {
  width: 270px;
  padding-left: 48px;
  background: url(../img/icon-search-03.png) no-repeat 17px 12px;
}

.search-input:hover {
  background: url(../img/icon-search.png) no-repeat 17px 12px #212a3a;
}

.search-input:focus {
  color: #000000;
  background: url(../img/icon-search-red.png) no-repeat #ffffff 17px 12px;
  outline: none;
}

.search-input::placeholder {
  color: #ffffff;
}

.user-menu input {
  background-color: inherit;
  border: none;
}

.user-actions {
  display: flex;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

.user-actions li {
  width: 150px;
  text-align: center;
  position: relative;
}

.user-actions a {
  display: block;
  height: 100%;
  line-height: 42px;
  padding-left: 15px;
}

.action-bookmarks a::before {
  content: url(../img/icon-bookmark.png);
  position: absolute;
  top: 2px;
  left: 17px;
  opacity: 0.3;
}

.action-cart a {
  padding-left: 23px;
}

.action-cart a::before {
  content: url(../img/cart.png);
  position: absolute;
  top: 1px;
  left: 19px;
  opacity: 0.3;
}

.user-actions a:hover
{
  background-color: #212a3a;
}

.user-actions a:hover::before {
  opacity: 1;
}

.user-actions a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

a.complete {
  background-color: #63a63e;
  padding: 0;
}

a.complete:hover {
  background-color: #5fbb2d;
}

a.complete:active {
  background-color: #518534;
}

.user-menu ul {
  list-style: none;
}

.user-menu a {
  color: #ffffff;
}

.header-main {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 46px;
  margin-bottom: 38px;
}

.header-main>p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  width: 196px;
  margin: 0;
  margin-bottom: 3px;
}

.phone {
  width: 270px;
  margin-left: 72px;
  display: flex;
  flex-direction: column;
}

.phone span {
  text-align: center;
}

.phone a {
  font-size: 21px;
  line-height: 39px;
  color: #ee3643;
  border: solid 3px #ffffff;
  min-height: 39px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 72px;
}

.phone a::before {
  content: url(../img/phone.svg);
  position: absolute;
  top: 4px;
  left: 12px;
}

.user-logout {
  display: flex;
  margin-left: 60px;
  align-self: flex-start;
}

.user-logout p {
  margin: 0;
  margin-left: 10px;
}

.user-logout a {
  display: inline-block;
  padding-right: 25px;
}

.nav,
.nav a
 {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

            /*header-nav*/


.nav {

  width: 940px;
  padding: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 23px;
  margin: 0;
  width: 100%;
  border-bottom: solid 4px #293449;
  border-collapse: collapse;
}

.nav-list a {
  display: block;
  height: 56px;
  text-align: center;
  line-height: 60px;
  padding: 0 30px;
}

.nav-list a:focus {
  outline: none;
  color: #ffd180;
}

a.company-a {
  padding-left: 35px;
  padding-right: 27px;
}

.nav div {
  height: 60px;
  text-align: center;
  padding-top: 22px;
}

.nav a:hover {
  background-color: #293449;
}

.nav a:active{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
                                                       /*index-main*/
.main-index,
.main-catalog {
  background-color: #ffffff;

}

.main-index {
    padding-top: 60px;
}

.main-index h1 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  margin: 0;
}

.main-index h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
  margin: 0;
}

.offers-list {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  list-style: none;
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers-list h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 24px;
}

.offers-list div {
  position: relative;
  overflow: hidden;
}

.offers-list .label-new {
  top: 5px;
  right: -52px;
  padding: 0;
  background-color: #ff5358;
  line-height: 28px;
  font-family: 'PT Sans', Arial, sans-serif;
}

.offers-list-first {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers-list-first>div:not(:last-child) {
  width: 300px;
  height: 123px;
  padding-left: 23px;
  margin-bottom: 20px;
}

.offers-list-first>div::after {
  position: absolute;
  bottom: 20px;
}

.offers-list-first>div:first-child {
  background-color: #ffbf47;
}

.offers-list-first>div:first-child::after {
  content: url(../img/can.png);
  right: 43px;
}

.offers-list-first>div:nth-child(2) {
  background-color: #3bbce3;
}

.offers-list-first>div:nth-child(2)::after {
  content: url(../img/tool.png);
  right: 27px;
  bottom: 22px;
}

div.main-slider {
  padding: 0;
}

.main-slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.main-slider div {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-slider h3 {
  font-size: 36px;
  line-height: 36px;
  margin-top: 22px;
  margin-left: 24px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.main-slider span {
  position: relative;
  top: -3px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin-left: 0;
  margin-left: 25px;
}

.main-slider a {
  width: 195px;
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.main-slider input {
  display: none;
}

.tools-slides {
  position: relative;
}

.tools-slides div {
  position: absolute;
  overflow: auto;
  opacity: 0;
  z-index: 0;
}

.tools-slides div:first-child {
  background-image: url(../img/slider-image1.jpg);
}

.tools-slides div:last-child {
  background-image: url(../img/slider-image2.jpg);
}

.tools-slides label {
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 117px;
  transform: rotate(45deg);
  z-index: 2;
}

.tools-slides label:first-of-type {
  left: 30px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.tools-slides label:first-of-type:hover {
  border-left: 3px solid #ee3643;
  border-bottom: 3px solid #ee3643;
  cursor: pointer;
}

.tools-slides label:last-of-type {
  right: 28px;
  border-right: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
}

.tools-slides label:last-of-type:hover {
  right: 30px;
  border-right: 3px solid #ee3643;
  border-top: 3px solid #ee3643;
  cursor: pointer;
}

#slide-1-1:checked ~ .tools-slides .drill-slide,
#slide-1-2:checked ~ .tools-slides .perf-slide {
  opacity: 1;
  z-index: 1;
}

.main-slider .slide-controls {
  position: absolute;
  width: 30px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  left: 50%;
  bottom: 36px;
  margin-left: -15px;
}

.slide-controls label {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

#slide-1-2:checked ~ .slide-controls label:first-child,
#slide-1-1:checked ~ .slide-controls label:last-child {
  background-color: #ee3643;
}

.last-block {
  width: 300px;
  padding: 0;
}

.last-block h3 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
}

.last-block div {
  width: 300px;
  height: 123px;
  padding-left: 23px;
  padding-top: 20px;
  position: relative;
}

.last-block div::after {
  position: absolute;
  bottom: 20px;
}

.last-block div:first-child {
  background-color: #dc91d8;
  margin-bottom: 20px;
}

.last-block div:first-child::after {
  content: url(../img/tractor.png);
  right: 31px;
  bottom: 23px;
}

.last-block div:nth-child(2) {
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.last-block div:nth-child(2)::after {
  content: url(../img/cart-big.png);
  right: 45px;
  bottom: 18px;
}

.last-block div:last-child {
  background-color: #ffc047;
}

.last-block div:last-child::after {
  content: url(../img/truck.png);
  right: 31px;
  bottom: 21px;
}

.products-top,
.producers-top {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.products-top,
.producers-top {
  padding-left: 28px;
}

.products-top h2,
.producers-top h2 {
  font-weight: 400;
  margin-top: 5px;
}



.products-top a,
.producers-top a {
  width: 253px;
}

.products ul {
  list-style: none;
}



   /*producers*/



.producers ul {
  list-style: none;
}

.producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 65px;
}

.producers-list li {
  display: block;
  border: solid 1px #eaeaea;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  text-align: center;
}

.producers-list li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers-list li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.producers-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.producers-list a:active {
  opacity: 0.3;
}


/*service*/



.service {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #f4f7f9;
  padding-top: 65px;
  padding-bottom: 100px;
}

.service h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 27px;
  background-color: inherit;
}

.service p {
  width: 400px;
  margin-bottom: 70px;
}

.slider-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.service-list ul {
  list-style: none;
  padding: 0;
  width: 240px;
  margin: 0;
  margin-right: 80px;
}

.service-list label {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  padding: 16px;
  padding-left: 22px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.service-list label:hover {
  color: #32425c;
  background-color: #ffffff;
}

.slider-container input {
  display: none;
}

.slides {
  position: relative;
}

.slides .slider {
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.controls {
  position: relative;
}

.controls-list::after {
  content: url(../img/shadow.png);
  position: absolute;
  top: -27px;
  left: 230px;
}

.controls-list li {
  display: block;
}

#slide-2-1:checked ~ .slides .service-delivery,
#slide-2-2:checked ~ .slides .service-garanty,
#slide-2-3:checked ~ .slides .service-credit {
  opacity: 1;
  z-index: 1;
}

#slide-2-1:checked ~ .controls li:first-child label,
#slide-2-2:checked ~ .controls li:nth-child(2) label,
#slide-2-3:checked ~ .controls li:last-child label {
  color: #32425c;
  background-color: #ffffff;
}

.service-list h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
}

.service-list p {
  margin: 0;
}

.service-delivery,
.service-garanty,
.service-credit {
  position: relative;
}

.service-delivery p {
  width: 275px;
  position: relative;
}

.service-delivery p::after {
  content: url(../img/truck-fs.png);
  position: absolute;
  right: -345px;
  top: -35px;
}

.service-garanty p {
  width: 380px;
}

.service-garanty p::after {
  content: url(../img/guarantee.png);
  position: absolute;
  right: -250px;
  top: 0px;
}

.service-credit p {
  width: 280px;
  margin-bottom: 30px;
}

.service-credit p::after {
  content: url(../img/credit.png);
  position: absolute;
  right: -340px;
  top: 0px;
}

.service-credit a {
  width: 195px;
}

.about {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
  padding-top: 77px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about>div {
  margin-bottom: 86px;
}

.about h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.about p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.left-column {
  width: 520px;
}

.right-column {
  width: 300px;
}

.delivery-ways p:last-of-type {
  margin-bottom: 22px;
}

.delivery-ways ul {
  margin: 0;
  padding-left: 10px;
  list-style: none;
}

.delivery-ways li {
  margin-bottom: 20px;
}

.delivery-ways li:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  position: relative;
  right: 10px;
  bottom: 5px;
}

.delivery-ways a {
  margin-top: 35px;
  width: 220px;
}

.contacts p {
  width: 180px;
  margin-bottom: 33px;
}

.contacts a {
  display: inline-block;
}

.contacts a:first-of-type {
  margin-bottom: 35px;
}

.about a:last-of-type {
  display: block;
}

                                                   /*index-footer*/
.footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer ul {
  list-style: none;
}

.footer a {
  margin-left: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer .logo {
  height: 68px;
  padding-top: 20px;
}

.foot-top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 25px;
  position: relative;
}

.foot-top-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  margin-left: 382px;
  margin-top: 38px;
  margin-bottom: 10px;
  width: 100%;
}

.foot-top-list li {
  margin-left: 0px;
}

.foot-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
}

.foot-middle p {
  margin: 0;
  width: 325px;
}

.footer-adress a {
  margin: 0;
}

.foot-middle ul {
  margin: 0;
  padding: 0;
}

ul.second-line {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
}

.second-line li:not(:first-child) {
  margin-left: 50px;
}

.second-line a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-bottom .container {
  padding-top: 35px;
  padding-bottom: 30px;
}

.footer-bottom-line {
  display: flex;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom p:first-of-type {
  width: 230px;
  margin-right: 160px;
}

.footer-bottom p:nth-of-type(2) {
  width: 135px;
  margin-right: 53px;
}

.footer-bottom p:last-of-type {
  width: 100px;
}

.footer-bottom ul {
  padding: 0;
  margin: 0;
}

.footer-bottom a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
  margin-left: 0;
}

.footer-bottom a:active {
  color: #ee3643;
  opacity: 1;
}

ul.social {
  display: flex;
  margin-right: 115px;
}

.social li {
  margin-right: 3px;
}

.social a {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.social a:hover,
.social a:active {
  background-color: #ee3643;
}


                                              /*Catalog*/

.cart-full {
  background-color: #ee3643;
}

.user-login {
  width: 298px;
  margin-left: 50px;
  align-self: flex-start;
}

.user-name {
  position: relative;
  margin-bottom: 3px;
}

.logout-icon {
  position: absolute;
  right: 10px;
  top: 14px;
}

.logout-icon:hover polygon,
.logout-icon:hover path {
  fill: #32425C;
}

.login-list {
  position: relative;
  display: flex;
  justify-content: left;
  text-align: center;
  margin: 0;
  margin-left: 17px;
  padding: 0;
  list-style: none;
}

.login-list li:first-child::after {
  content: "";
  position: absolute;
  left: 90px;
  top: 10px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.login-list li {
  margin: 0;
  margin-right: 32px;
}

.login-list a {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.login-list a:hover {
  color: #ee3643;
}

.login-list a:active {
  color: rgba(50, 66, 92, 0.3);
}
                                              /*catalog-main*/
.bread-crumbs,
.bread-crumbs a
 {
  font-family:  'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

}

.bread-crumbs {
  padding: 20px 0 22px;
  margin: 0;
  list-style: none;
  display: flex;
}

.bread-crumbs li{
  margin-right: 14px;
}

.bread-crumbs li:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  transform: rotate(-45deg);
  margin-right: 20px;
}

.catalog-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f6f8;
  margin: 0;
  padding: 30px;
  margin-bottom: 20px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-filter {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000000;
}

.catalog-filter fieldset {
  border: none;
}

fieldset.range-bar legend {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f7f3ec;
  width: 100%;
  padding: 10px 18px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 3px;
}

.range-bar h3 {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.emrty-range {

}

.erange-main {
  position: relative;
  background-color: #f7f3ec;
  height: 80px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
}

.range-line-left {
  position: absolute;
  width: 140px;
  height: 2px;
  background-color: #00ca74;
}

.range-line-right {
  position: absolute;
  width: 30px;
  height: 2px;
  right: 20px;
  background-color: #d7dcde;
}

.erange-main button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  z-index: 2;
  box-shadow: 0 2px #d7dcde;
}

.erange-main button:first-of-type {
  margin-right: 120px;
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f7f3ec;
  border: none;
  display: block;
  width: 95px;
  height: 38px;
  text-align: center;
  border-radius: 3px;
}



.main-catalog h1 {
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
}

.catalog-filter fieldset {
  padding: 0;
}

.catalog-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 13px;
}

.catalog-filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter label:active {
  opacity: 0.4;
}

.catalog-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-produce legend::before,
.filter-power legend::before {
  content: "";
  display: block;
  height: 1px;
  width: 220px;
  background-color: #c5c5c5;
  margin: 25px 0 17px;
}

.filter-produce label {
  display: block;
  position: relative;
  margin-bottom: 17px;
  height: 23px;
}

.filter-produce input[type="checkbox"] {
  opacity: 0;
}

.filter-produce input[type="checkbox"] + span>span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  cursor: pointer;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.filter-produce input[type="checkbox"] + span {
  display: inline-block;
  padding-left: 15px;
  cursor: pointer;
  line-height: 23px;
}

.filter-produce input[type="checkbox"] + span:hover>span  {
  border-color: #b5b5b5;
}

.filter-produce svg {
  opacity: 0;
  margin-left: -2px;
  margin-top: -2px;
}

.filter-produce input[type="checkbox"]:checked + span svg {
  opacity: 1;
}

.filter-produce input[type="checkbox"]:checked + span>span {
  border-color: #ffffff;
}

.filter-produce input[type="checkbox"]:checked + span:hover path,
 .filter-produce input[type="checkbox"]:checked + span:hover polygon {
  fill: #b5b5b5;
}

.filter-produce input[type="checkbox"]:focus + span {
  text-decoration: underline;
}

.filter-power legend::before {
  margin-top: 3px;
}

.filter-power label {
  display: block;
  position: relative;
  margin-bottom: 15px;
  height: 25px;
}

.filter-power input[type="radio"] {
  opacity: 0;
}

.filter-power input[type="radio"] + span>span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-power input[type="radio"] + span {
  display: inline-block;
  padding-left: 15px;
  cursor: pointer;
  line-height: 25px;
}

.filter-power input[type="radio"] + span:hover>span  {
  border-color: #b5b5b5;
}

.filter-power svg {
  opacity: 0;
  margin-left: -4px;
  margin-top: -4px;
}

.filter-power input[type="radio"]:checked + span svg {
  opacity: 1;
}

.filter-power input[type="radio"]:checked + span>span {
  border-color: #ffffff;
}

.filter-power input[type="radio"]:checked + span:hover path,
 .filter-power input[type="radio"]:checked + span:hover polygon {
  fill: #b5b5b5;
}

.filter-power input[type="radio"]:focus + span {
  text-decoration: underline;
}

.filter-form>button {
  margin-top: 60px;
  padding-top: 0;
}

.catalog-list-view {
  width: 700px;
}

.sort-panel {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  display: flex;
  margin-bottom: 20px;
  padding: 10px 19px;
  border-radius: 3px;
}

.sort-panel h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-right: 140px;
}

.sort-panel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.sort-panel-list li:first-child {
  margin-right: 50px;
}

.sort-panel-list li:nth-child(2) {
  margin-right: 45px;
}

.sort-panel-list li:nth-child(3) {
  margin-right: 20px;
}

.sort-panel a {
  color: #000000;
  opacity: 0.3;
  border-bottom: dotted 1px #ee3643;
}

.sort-panel a:hover {
  opacity: 1;
  border-bottom: solid 1px #ee3643;
}

.sort-panel a:hover polygon,
.sort-panel a:hover polyline {
  fill: #000000;
}

.sort-panel a:active {
  color: #ee3643;
  opacity: 1;
  border: none;
}

.sort-panel a:active polygon,
.sort-panel a:active polyline {
  fill: #ee3643;
}

.sort-panel-list .sort-arrow,
.sort-panel-list .sort-arrow:hover {
  border-bottom: none;
}

.sort-arrow:last-of-type {
  margin-left: 15px;
}

.catalog-list {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-card {
  border: solid 1px #e5e5e5;
  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.catalog-card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-card:hover img {
  opacity: 0;
  z-index: 0;
}

.catalog-card:hover a {
  opacity: 1;
}

.catalog-card a:focus {
  opacity: 1;
}

.catalog-card h3 {
  font-size: 18px;
  margin: 0;
  width: 160px;
  text-align: center;
  margin-bottom: 11px;
}

.catalog-img {
  order: -1;
  margin-bottom: 5px;
  position: relative;
}

.catalog-img img {
  z-index: 2;
}

.catalog-img a {
  left: 42px;
  z-index: 1;
  position: absolute;
  opacity: 0;
}

.catalog-img a:first-of-type {
  top: 42px;
}

.catalog-img a:last-of-type {
  top: 90px;
}

.price-old {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  margin-bottom: 7px;
}

.catalog-card span.price-new {
  display: block;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  text-decoration: none;
  min-height: 38px;
  width: 55%;
  line-height: 38px;
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 12px;
  padding-left: 17px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.price-new::after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
  background-color: #ee3643;
  position: absolute;
  bottom: 26px;
  right: 42px;
}

article.catalog-card span.uppercase {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 0;
}

.pag-container {
  text-align: left;
}

.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 33px;
}

.pagination li {
  width: auto;
  height: auto;
  min-height: 0;
}

.about-tool {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #f4f7f9;
  padding-top: 45px;
  padding-bottom: 68px;
}

.about-tool h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: 27px;
  font-weight: 400;
}

.about-tool p {
  width: 910px;
  margin: 0;
}

span.label-new {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  background-color: #ee3643;
  text-decoration: none;
  width: 140px;
  padding: 3px 0;
  text-align: center;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  z-index: 2;
  top: 7px;
  right: -52px;
  overflow: hidden;
}

                                                                 /*Modals*/

.modal {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  z-index: 5;
}



.modal-question {
  display: none;
  width: 620px;
  min-height: 430px;
  top: 200px;
  left: 50%;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
}

.question-form-main {
  margin: 50px 80px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question-form-main label {
  margin-bottom: 20px;
}

.modal-question label {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  width: 220px;
}

.modal-question input,
.login-textarea textarea {
  width: 100%;
  min-height: 38px;
  margin-top: 10px;
  padding-left: 15px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
}

.login-textarea textarea {
  min-height: 115px;
  max-width: 100%;
}

.modal-question input:hover,
.login-textarea textarea:hover {
  border-color: #b5b5b5;
}

.modal-question input:focus,
.login-textarea textarea:focus {
  border-color: #ee3643;
  outline: none;
}

.question-form-bottom {
  padding: 37px 80px;
  background-color: #f4f4f4;
  width: 100%;
  margin-top: 15px;
}

.modal-question input[type="submit"] {
  border: none;
  margin: 0;
  padding: 0;
}

label.login-textarea {
  width: 100%;
}

.modal-map {
  display: none;
  top: 100px;
  left: 50%;
  margin-left: -485px;
  width: 970px;
  height: 476px;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  top: 9px;
  left: -9px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
  top: 8px;
}

.modal-buy {
  display: none;
  width: 620px;
  min-height: 282px;
  top: 200px;
  left: 50%;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
}

.modal-buy-title {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 66px;
  padding: 50px 80px;
  padding-left: 180px;
  margin: 0;
}

.modal-buy-title::before {
  content: url(../img/marker.png);
  position: absolute;
  left: 80px;
  top: 50px;
}

.modal-buy-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.modal-buy-buttons a {
  display: inline-block;
  width: 220px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  height: 38px;
  border-radius: 3px;
}

.modal-show {
  display: block;
  animation: bounce 0.4s;
}

@keyframes bounce {
  0% {
    top: -430px;
  }
  100% {
    top: 200px;
  }
}
